
* {

    background-color: beige;
}
li {
    font-size: 16px;
    color:darkslateblue;
}

.title {
    color: deeppink;
    font-size: 18px;
}

h1~p{
    font-size: small;
    color: slateblue;
}

h2+p{

    font-size: 18px;
    color:mediumvioletred;
}

h1,h2{
    color:rebeccapurple;
}

div p{
    font-size: 18px;
    color: darkblue;
}

#about{
    color:midnightblue;
}

